{{field_input}}<div class='place-search' id="search_map_{{field_id}}">search</div>
<div class="place-widget" style="margin-top: 4px">
    <div class='place-panel' id="panel_{{field_id}}"></div>
    <div class='place-map-canvas' id="map_canvas_{{field_id}}" style="height: 300px; width: 500px;"></div>
</div>

<script>
jQuery(function($) {
  function setVariables(field_id, field_name){
    // not working with multiple PlaceFields.
    // Probably needing an array of variables or something...
    panel = $('#panel_'+field_id);
    map_canvas = document.getElementById('map_canvas_'+field_id);
    search_map = $('#search_map_'+field_id);
    address_input = $('#id_'+field_name);
  }

  setVariables('{{field_id}}', '{{field_name}}');
  initMap();
})
</script>
