[run]
branch = True
source = .
include =

omit =  manage.py
        politicalplaces/migrations/*
        politicalplaces/apps.py
        djangopoliticalmap/settings.py
        djangopoliticalmap/wsgi.py
        djangopoliticalmap/urls.py
        example/apps.py
        
[html]
directory = coverage
