*.log                                                                        
*.pot
*.py[cod]
*.db
*.sqlite3
*.log.old
.idea
.DS_Store
*.swp
*.un~
media/
analysis
*.sublime-project
*.sublime-workspace
*.TODO
coverage/
.coverage
clonedigger_output.html
node_modules/
dist/
django_political_map.egg-info/
.venv/
*.bak