.widget__search{
  padding: 6px 15px !important;
}

.result-component{
  cursor: pointer;
}
.place-panel{
  background-color: #ffffcc;
  padding: 3px;
}

.widget__place__map{
  height: 300px;
  width: 500px;
}