.widget__search{
  padding: 6px 15px !important;
}

.result-component{
  cursor: pointer;
}
.politicalplace-widget input[type="text"]{
  width: calc(100% - 90px);
}
.widget__place{
  margin-top: 5px;
}
.widget__place__panel ul{
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 0;
  width: calc(100% - 2px);
  margin-top: 2px;
}
.widget__place__map{
  height: 300px;
  width: 500px;
}
.panel__result{
  cursor: pointer;
  padding: 5px;
}
.panel__result:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}
.panel__result:hover{
  background-color: #f6f6f6;
}
.widget__place__map .gm-style{
  background-image: url('../img/searchplace.png') ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}